[access]
address=10.25.1.63
port=2294

[credentials]
user=embedded
password=2iko.8gas

[hardware]
type=TFB
power=8
sn=CDC150450297
mac=FC:2A:54:00:AD:84

[build]
build=last
firmware=4.3
type=dev
