[access]
address=10.25.1.76
port=7522

[credentials]
user=embedded
password=2iko.8gas

[hardware]
type=TFB
power=0
sn=CDC144520096

[build]
build=last
firmware=4.3
type=dev